:root {
    --white: #ffffff;
    --black: #000000;
    --green: #0b8a00;
    --light-green: #75ff25;
    --dark-green: #1d5000;
    --grey: #616161;
    --light-grey: #d3d3d3;
    --xl: 14px;
    --xxl: 18px;
    --xxxl: 24px;
    --xxxxxl: 30px;
    --xxxxxxl: 40px;
}
